<div class="flexbox-icons">
  <button (click)="openFilter()"><img class="filter-icon" src="../../assets/baseline-subject-24px.svg"></button>
</div>
<div class="filter-menu">
  <div [className]="filterMenuActivated ? 'invisbile' : 'filter-menu-checkbox'">
    <mat-checkbox (change)="filterGedronken($event)">gedronken</mat-checkbox>
    <mat-checkbox (change)="filterNietGedronken($event)">niet gedronken</mat-checkbox>
  </div>
  <div [className]="filterMenuActivated ? 'invisbile' : 'filter-menu-rating'">
    <div class="filter-rating"><img class="filter-image" *ngFor="let ster of src; index as i;" [src]="ster"
                                    (click)="changeSter(i)"></div>
  </div>
</div>
<div class="flexbox-filter-merk-type">
  <div [className]="filterMenuActivated ? 'invisbile' : 'filter-menu-merk-type'">
    <mat-form-field>
      <mat-label>Merk</mat-label>
      <mat-select (selectionChange)="filterMerk($event.value)">
        <mat-option *ngFor="let merk of merken" [value]="merk">
          {{merk}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div [className]="filterMenuActivated ? 'invisbile' : 'filter-menu-merk-type'">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select (selectionChange)="filterType($event.value)">
        <mat-option *ngFor="let type of types" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="jenevers" *ngIf="jeneverList">
  <app-jenever *ngFor="let x of jeneverList; index as i;" [jenever]="x"></app-jenever>
</div>
