*{
  background: white;
}
.flexbox-icons{
  display: flex;
  flex-direction: row;
  background-color: #A1BBE3;
}
.label-rating{
  background: #A1BBE3;

}
.page-body{
  height: 100%;
}
.filter-icon{
  background: #A1BBE3;
  width: 30px;
  height: 30px;
}
button{
  border: none;
  background-color: #A1BBE3;
  font-size: 40px;
  height: 100%;
}

mat-icon{
  background-color: #A1BBE3;
  font-size: 40px;
  height: 100%;
  width: 100%;
}
mat-checkbox{
  background: #A1BBE3;
  margin-right: 5%;
}
.filter-menu{
  display: flex;
  background: #A1BBE3;
  justify-content: center;
}
.flexbox-filter-merk-type{
  background: #A1BBE3;
  display: flex;
  flex-direction: column;
}
.filter-menu-checkbox{
  width: 45%;
  background: #A1BBE3;
  display: flex;
  flex-direction: column;

}
.jenevers{
  background: #A1BBE3;
}
.filter-menu-rating{
  width: 45%;
  background: #A1BBE3;
  display: flex;
  justify-content: space-around;
}
mat-select{
  background: none;
  border: 1px solid gray;
}
mat-label{
  font-family: Roboto, serif;
  margin-left: 2%;
  background: #A1BBE3;
}
.filter-rating{
  background: #A1BBE3;
  justify-self: end;
}
.filter-image{
  background: #A1BBE3;
}
.invisbile{
  display: none;
}
mat-form-field{
  background: #A1BBE3;
}
.filter-menu-merk-type{
  background: #A1BBE3;
  margin-left: 3%;
}
mat-select{
  border: none;
}

