@import "../../palette.scss";
$primary: map-get($my-theme, primary);

.title{
  margin: auto
}
.description-grid{
  grid-template-rows: 1fr 1fr
}
.beschrijving{
  grid-row-start: 1
}
.sterren-flexbox{
grid-row-start: 2
}
.card{
  margin-top:5px;
  margin-bottom: 5px;
  box-shadow: 2px 2px lightgrey;
}
